<section>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <%= scroll_reveal(animation: "enter right, after .2s" ) do %>
        <h2 class="featurette-heading">A dharma center on Capital Hill. 
                  <span class="text-muted">All are welcome.</span></h2>
        <p class="lead">We have regular meditation & chanting weekly as well as visiting 
                        teachers and scholars and an ongoing lecture series.</p>
        <ul class="list-unstyled">
          <li><%= link_to "Our Teachers", about_path(anchor: "teachers") %></li>
          <li><%= link_to "Weekly Practice Schedule", root_path(anchor: "practice") %></li>
          <li><%= link_to "Intro to Meditation and Tibetan Buddhism", root_path(anchor: "practice") %></li>
          <li><%= link_to "Learn about the Dharma Center", about_path(anchor: "center") %>
          <li><%= link_to "Kagyu Lineage", about_path(anchor: "lineage") %></li>
        </ul>
        <p class="lead">We welcome anyone who is interested in study and practise of meditation
                        and Tibetan Buddhism.</p>
      <% end %>
    </div>
    <div class="col-md-5">
      <%= image_tag "rinpoche-lamarod.jpg", :size => "500", :class => "featurette-image img-responsive"  %>
    </div>
  </div>

  <hr class="featurette-divider">
</section>

