<section>
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class ="col-md-8">
        <h2 class="featurette-heading">A dharma center on Capital Hill. 
                  <span class="text-muted">All are welcome.</span></h2>
        <p class="lead">Regular meditation and sadhana practice as well as a monthly Introduction to Tibetan Buddhism on the first Thursday. <%= link_to 'Learn More &raquo;'.html_safe, about_path %></p>

        <div class="row">
        <div class="col-xs-4">
          <h4>Sunday</h4>
          <h5>Medicine Buddha and Amitabha</h5>

          <%= image_tag "med_buddha.png", :size => "75", :class => "img-circle"  %>

          <p class = "small">10 am til 1 pm at the dharma center</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
          <h4>Thursday</h4>
          <h5>Chenrezig</h5>    

          <%= image_tag "mani.png", :size => "75" %>


          <p class = "small">7 pm till 8 pm at the dharma center</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
          <h4>Saturday</h4>  
          <h5>Morning Mindfulness</h5>
                 
          <%= image_tag "meditation.png", :size => "75" %>

          <p class = "small">10 am till 1 pm at the Capital Hill Church</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      </div>
      <div class="col-md-3">
        <%= image_tag "shrine.jpg", :size => "300x300", :class => "featurette-image img-responsive img-circle"  %>
      </div>
    </div>
    <div class="row featurette">
              <h2 class = "text-center">Teachers</h2>
      <div class="col-md-3">

        <%= image_tag "rinpoche-lamarod.jpg", :size => "300", :class => "featurette-image img-responsive img-circle"  %>
      </div>
      <div class = "col-md-8">
        <h2 class="featurette-heading">Ven. Lama Norlha Rinpoche</h2>
        <p>Lama Norlha Rinpoche, an accomplished meditation and retreat master, is the abbot of Kagyu Thubten Chöling Monastery and director of Kyabje Dorje Chang Kalu Rinpoche’s Dharma centers in the eastern United States. <%= link_to 'Read more &raquo;'.html_safe, about_path(anchor: "rinpoche") %></p>
        <div class = "row">
          <div class = "col-sm-12">
            <h3>Visiting Teachers</h3>
          </div>
        </div>

        <div class = "row">
          <div class = "col-xs-2">
            <%= image_tag "http://www.fillmurray.com/75/75", 
                :class => "featurette-image img-responsive img-circle"  %>
                <p class = "text-muted small">Lama Murray</p>
          </div>
          <div class = "col-xs-2">
            <%= image_tag "http://www.stevensegallery.com/75/75", 
                :class => "featurette-image img-responsive img-circle"  %>
                <p class = "text-muted small">Lama Segal</p>
          </div>
          <div class = "col-xs-2">      
            <%= image_tag "http://www.placecage.com/c/75/75", 
                :class => "featurette-image img-responsive img-circle"  %>
                <p class = "text-muted small">Lama Cage</p>
          </div>
        </div>
      </div>
    </div>
  <hr class="featurette-divider">
</section>

