
    <section id="practice" class="practices">
      <h1 class = "text-center">Weekly Practice Schedule</h1>
      <div class="row">
        <div class="col-lg-4">
        <%= scroll_reveal(animation: "enter bottom, after .5s") do %>
          <h2>Sunday</h2>
          <h3>Medicine Buddha and Amitabha</h3>

          <%= image_tag "med_buddha.png", :size => "200", :class => "img-circle"  %>

          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <%= scroll_reveal(animation: "enter bottom, after .7s") do %>
          <h2>Thursday</h2>
          <h3>Chenrezig</h3>    

          <%= image_tag "mani.png", :size => "200" %>


          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <%= scroll_reveal(animation: "enter bottom, after .9s") do %>
          <h2>Saturday</h2>  
          <h3>Morning Mindfulness</h3>
                 
          <%= image_tag "meditation.png", :size => "200" %>

          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </section>
    <section class="intro_class">
      <h2 class="featurette-heading text-center">Join us for the Introduction to Tibetan Buddhism - the first Thursday of every month.</h2>
      <p class="lead text-center">7:00 PM til 8:00 PM at the Kagyu DC dharma center.</p>
    </section>
  </div>
</div>


