
    <section id="practice" class="practices">
      <div class="row">
        <div class="col-lg-4">
        <%= scroll_reveal(animation: "enter bottom, after .5s") do %>
          <h2>Heading</h2>

          <%= image_tag "med_buddha.png", :size => "200", :class => "img-circle"  %>

          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <%= scroll_reveal(animation: "enter bottom, after .7s") do %>
          <h2>Heading</h2>    

          <%= image_tag "mani.png", :size => "200" %>


          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <%= scroll_reveal(animation: "enter bottom, after .9s") do %>
          <h2>Heading</h2>  
                 
          <%= image_tag "meditation.png", :size => "200" %>

          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        <% end %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </section>
<div class="background-image">
  <div class="background-overlay">
      <%= scroll_reveal(animation: "enter right, after .2s" ) do %>
        <h2 class="featurette-heading">Join us for Sunday Practice. <span class="text-muted">Medicine Buddha and Amitabha.</span></h2>
        <p class="lead">We begin at 11:00 AM and practice ends around 1:00 PM.  After the Medicine Buddha and Amitabha sadhanas, there is a Dharma talk - either by the resident Lama Rod Owens, a visiting Lama or a senior member of the sangha.</p>
        <p class="text-center">Vistors are always welcome and instruction is always provided.<p>
      <% end %>
  </div>
</div>


