<% provide(:title, 'Welcome') %>

      <%= render 'welcome/featurette' %>
      <%= render 'welcome/practices' %>
      
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4><%= link_to 'Articles', controller: 'articles' %></h4>
    <% @articles.each do |article| %>
      <h2><%= article.title %></h2>
      <%= simple_format(article.text.html_safe) %> 
    <% end %>
  </div>
</div>



