<div class="cover"> 
  <ul class="list-inline pull-right">
    <li><%= link_to "Our Teachers", about_path(anchor: "teachers") %></li>
    <li><%= link_to "Weekly Practice", root_path(anchor: "practice") %></li>
    <li><%= link_to "Intro to Tibetan Buddhism", root_path(anchor: "practice") %></li>
    <li><%= link_to "Dharma Center", about_path(anchor: "center") %>
    <li><%= link_to "Kagyu Lineage", about_path(anchor: "lineage") %></li>
  </ul>
  <div class="mast text-center">
    <%= image_tag "lotus.png", :size => "75", :class => "img-responsive" %>
    <h1>Kagyu Drupgyu Chodzong</h1>
    <p class="lead">A Tibetan Buddhist community in Washington, DC under the guidance of Lama Norlha Rinpoche</p>
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>
</div>