<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A Tibetan Buddhist community in Washington, DC 
                                    under the guidance of Lama Norlha Rinpoche">
  <meta name="author" content="Ken Crocken">

  <title>KagyuDC</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('#fadeMenu').fadeIn();
      } else {
        $('#fadeMenu').fadeOut();
      }
    });
  </script>

</head>
<body>

<div class="container">
  <header class="text-center">
    <%= image_tag "lotus.png", :size => "75", :class => "img-responsive" %>
    <h1>Kagyu Drupgyu Chodzong</h1>
    <p class="text-muted lead">A Tibetan Buddhist community in Washington, DC under the guidance of Lama Norlha Rinpoche</p>
  </header>
</div>
  <nav>
    <div id="fadeMenu">
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <p class="navbar-text">
              <%= image_tag "lotus.png", :size => "25", :class => 'img-responsive' %>
            </p>

            <%= link_to 'KagyuDC', { :controller => 'welcome' }, { :class=> 'navbar-brand' } %>

          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to 'Home', controller: 'welcome' %></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </nav>

<div class="container">
  <%= yield %>
</div>
<div id="footer">
  <div class="container">
    <p class="text-muted">Some footer info.</p>
  </div>
</div>
</body>
</html>
