<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A Tibetan Buddhist community in Washington, DC 
                                    under the guidance of Lama Norlha Rinpoche">
  <meta name="author" content="Ken Crocken">

  <title>KagyuDC</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>

<script type="text/javascript">
$(window).scroll(function(){
 
if ($(this).scrollTop() > 100) {
$('#fadeMenu').fadeIn();
}
else {
$('#fadeMenu').fadeOut();
}
 
});
</script>

</head>
<body>


  <%= render 'layouts/header' %>

<div class="container">

  <%= yield %>

</div>

  <%= render 'layouts/footer' %>

</body>
</html>
