<!DOCTYPE html>
<html>
<head>
  <title>KagyuDC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <div class="row">
      <div class="col-md-1 pull-left">
        <%= image_tag "lotus.png", :size => "75", :class => "img-responsive" %>
      </div>
      <div class="col-md-5">
        <h1>Kagyu Drupgyu Chodzong</h1>
        <p class="text-muted lead">A Tibetan Buddhist community in Washington, DC under the guidance of Lama Norlha Rinpoche</p>
      </div>
    </div>
  </header>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
