<!DOCTYPE html>
<html>
<head>
  <title>Kagyudc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Kagyu DC <small>A Tibetan Buddhist community in Washington, DC.</small></h1>
    </div>
    <div class="col-md-3 pull-right">
      <%= image_tag "lotus.png", :size => "100", :class => "img-responsive" %>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
